
<div class="modal-dialog">
  <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" (click)="close()" >&times;</button>
       <h4 class="modal-title">{{title || 'Confirm'}}</h4>
     </div>
     <div class="modal-body">
       <p>{{message || 'Are you sure?'}}</p>
       <input ngui-auto-complete
       [(ngModel)]="model2"
       [source]="dataex"
       placeholder="ค้นหา..."
       list-formatter="(DeptCode) DeptName"
       display-property-name="DeptName"
       class="form-control"
       />
        <p><b>model2</b>: {{model2 | json }}
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
       <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
     </div>
   </div>
</div>